/bin
/gen
/out
/.idea
/Xiaozhao.iml
/proguard_logs
/third_party/ViewPagerIndicator/bin
/third_party/ViewPagerIndicator/gen
/third_party/library/bin
/third_party/library/gen
/third_party/pulltorefresh/bin
/third_party/pulltorefresh/gen

*.iml

third_party/ViewPagerIndicator/ViewPagerIndicator.iml
/third_party/SlidingMenu/bin
/third_party/SlidingMenu/gen
/third_party/actionbarsherlock/bin
/third_party/actionbarsherlock/gen
