<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campus.xiaozhao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.campus.xiaozhao.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.campus.xiaozhao.activity.SetupActivity"
            android:label="@string/title_activity_setup" >
        </activity>
        <activity
            android:name="com.campus.xiaozhao.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.campus.xiaozhao.activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity android:name="com.campus.xiaozhao.activity.CampusDetailActivity" />
        <activity
            android:name="com.campus.xiaozhao.activity.VerifyNumberActivity"
            android:label="@string/title_activity_verify_number" >
        </activity>
    </application>

</manifest>